extend layout.jade

append ie
    include ie.html

append styles
  link(href="index.css", rel="stylesheet")

append scripts
  script(src="index.js", type="text/javascript")

block content
    h1 Add content here