html, body {
  margin: 0;
}

body {
  background-image: url('assets/background.png');
  border-top: 10px solid #3E82F7;
  border-bottom: 5px solid #FF442D;
}

#wrapper {
  width: 33em;
  margin: 0px auto;
  margin-bottom: 100px;
}

img {
  max-width: 100%;
}

img[alt="cake"] {
  width: 150px;
  margin: 0 auto;
  padding-top: 50px;
  display: block;
  fill: blue;
}

img[alt="marina"],
img[alt="michael"] {
  width: 80%;
  padding: 10px 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 100;
  text-align: center;
  padding: 1.5em 0;
  margin: 0;
}

h1 {
  font-size: 36px;
  color: #FF442D;
}

h2 {
  color: #3E82F7;
  font-size: 1.5em;
  font-family: "";
}

p {
  font-family: "Roboto Slab";
  font-weight: 100;
  line-height: 1.5em;
  font-size: 1.1em;
  color: #333;
  margin: 0;
}

em {
  font-size: .8em;
}

iframe {
  padding: 1.5em 0;
}

blockquote {
  margin-left: 10px;
  border-left: 5px solid #FF442D;
  padding: 10px 0 10px 20px;
  font-size: .9em;
}

blockquote > p {
  color: #666;
  font-style: italic;
  line-height: 1.7em;
}

p + p {
  padding-top: 1em;
}
